[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/freetype2"]
	path = external/freetype2
	url = git://git.sv.nongnu.org/freetype/freetype2.git
